<link rel="stylesheet" href="{{ asset('build/resume.css') }}">

<div class="container">
            
    <div class="header row">
        <div class="header_title col-md-12">
            <h1>Goran Čeko</h1>
            <h2>Web developer</h2>
        </div>
    </div>

    <div class="cv_section row">
        <div class="cv_section_title col-md-3">
            <h2>Accomplishments</h2>
        </div>
        <div class="col-md-9">

            <div class="cv_item">
                <h2></h2>
                <ul>
                    <li>Commercial experience: 5 years of software development.</li>
                    <li>Total experience: 9 years of software development.</li>
                    <li>Designed, developed, tested and maintained Web/PHP/Javascript based applications.</li>
                    <li>Worked directly with clients on requirements and technical specifications.</li>
                    <li>Provided training for team members and colleagues.</li>
                </ul>
            </div>

        </div>
    </div>

    <div class="cv_section row">
        <div class="cv_section_title col-md-3">
            <h2>Commercial experience</h2>
        </div>
        <div class="col-md-9">

            <div class="cv_item">
                <div class="cv_item_timespan pull-right">Jun 2013 - Present</div>
                <h2>PHP Developer - IN TECH d.o.o.</h2>
                <ul>
                    <li>Developing new functionalities</li>
                    <li>Maintaining web applications and systems</li>
                    <li>Providing support for colleagues</li>
                    <li>Researching new technologies</li>
                </ul>
                <h3>Orders Panel</h3>
                <p>This panel is used for managing book orders, from order itself untill books are shipped to a client. After order is made, book goes through process of technical editing (if necessary), creating invoice, payment, printing and shipping. Order panel communicates with other parts of InTech's system (like invoicing system) so it can generate necessary data, show all needed data in one place and check if books satisfies criteria for proceeding to next step.</p>
                <h3>Technical Editing Panel</h3>
                <p>It serve as a communication platform between Publishing Process Managers and Technical Editors. Also, when Technical Editor uploads formatted XML, file automatically goes through series of transformations and creates PDF file.</p>
            </div>

        </div>
    </div>

    <div class="cv_section row">
        <div class="cv_section_title col-md-3">
            <h2>Noncommercial experience</h2>
        </div>
        <div class="col-md-9">

            <div class="cv_item">
                <div class="cv_item_timespan pull-right">Jan 2016 - Present</div>
                <h2>Volunteer - Center for gifted children</h2>
                <ul>
                    <li>Maintaining website in WordPress</li>
                    <li>Adding new content to website</li>
                    <li>Adding new functionalities to website</li>
                </ul>
            </div>

        </div>
    </div>

    <div class="cv_section row">
        <div class="cv_section_title col-md-3">
            <h2>Skill set</h2>
        </div>
        <div class="col-md-9">

            <div class="cv_item">
                <h2></h2>
                <dl class="dl-horizontal">
                    <dt>Languages</dt>
                    <dd>PHP, Javascript, SQL, HTML, CSS, Regular expressions</dd>
                    <dt>Frameworks/libraries</dt>
                    <dd>MVC, Zend Framework, Laravel, jQuery</dd>
                    <dt>Source control</dt>
                    <dd>Git, Github, Subversion, Composer, Bitbucket</dd>
                    <dt>Services/API</dt>
                    <dd>Paypal API, Moneybookers API, Google analytics API, Google Chart API, Geo API</dd>
                    <dt>Protocols</dt>
                    <dd>HTTP, FTP, SMTP, POP, IMAP</dd>
                    <dt>Concepts</dt>
                    <dd>Object oriented, Design patterns, Hooks and plugins</dd>
                    <dd>Data warehouse, Web crawler</dd>
                    <dd>Network routing, iptables</dd>
                </dl>
            </div>

        </div>
    </div>

    <div class="cv_section row">
        <div class="cv_section_title col-md-3">
            <h2>Education</h2>
        </div>
        <div class="col-md-9">

            <div class="cv_item">
                <div class="cv_item_timespan pull-right">2014 – 2014</div>
                <h2><a href="http://2014.phpsummercamp.com/" target="_blank">3 days of Symfony and PHP focused hands-on workshops</a></h2>
                <p>PHP Summer Camp, Rovinj</p>
            </div>

            <div class="cv_item">
                <div class="cv_item_timespan pull-right">2010 – 2012</div>
                <h2>Master's degree, Information and Communication Systems</h2>
                <p>University of Rijeka Department of Informatics</p>
            </div>

            <div class="cv_item">
                <div class="cv_item_timespan pull-right">2007 - 2010</div>
                <h2>Bachelor's degree, Informatics</h2>
                <p>University of Rijeka Department of Informatics</p>
            </div>

            <div class="cv_item">
                <div class="cv_item_timespan pull-right">2003 - 2007</div>
                <h2>Mechanical engineer (Computer Technician)</h2>
                <p>Technical School of Mechanical Engineering Rijeka</p>
            </div>

        </div>
    </div>

    <div class="cv_section row">
        <div class="cv_section_title col-md-3">
            <h2>About me</h2>
        </div>
        <div class="col-md-9">

            <div class="other cv_item">
                <span class="other_item other_name">Full name: Goran Čeko</span>
                <span class="other_item other_email">Email: <a href="mailto:goranceko11@gmail.com">goranceko11@gmail.com</a></span>
                <span class="other_item other_phone">Phone: (+385) 98/906-1314</span>
                <span class="other_item other_skype">Skype: goranceko11</span>
                <span class="other_item other_linkedin">Linkedin: <a href="http://hr.linkedin.com/in/goranceko11/" target="_blank">http://hr.linkedin.com/in/goranceko11/</a></span>
                <span class="other_item other_location">Location: Rijeka, Croatia (EU)</span>
                <span class="other_item other_birth">Year of birth: 1989</span>
                <span class="other_item other_nationality">Nationality: Croatian (EU)</span>
            </div>

        </div>
    </div>

</div>