<!DOCTYPE html>
<html>
    <head>
        {% if app_env == 'dev' %}
            <!-- Global site tag (gtag.js) - Google Analytics -->
            <script async src="https://www.googletagmanager.com/gtag/js?id={{ google_tracking_id }}"></script>
            <script>
                window.dataLayer = window.dataLayer || [];
                function gtag(){dataLayer.push(arguments);}
                gtag('js', new Date());

                gtag('config', '{{ google_tracking_id }}');
            </script>
        {% endif %}
        
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="author" content="Goran Čeko">
        {% block meta_description %}
            <meta name="description" content="Welcome to goranceko.com. This website is intended for learning and self promotion.">
        {% endblock %}
        {% block meta_keywords %}
            <meta name="keywords" content="Goran Čeko">
        {% endblock %}
        {% block title %}
            <title>Goran Čeko Website</title>
        {% endblock %}
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/app.css') }}">
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="{{ asset('build/app.js') }}"></script>
        {% endblock %}
    </body>
</html>
